<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio venta</th>
      <th>Precio compra</th>
      <th>Existencia</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio_venta %></td>
        <td><%= producto.precio_compra %></td>
        <td><%= producto.existencia %></td>
        <td><%= producto.proveedor %></td>
        <td><%= link_to 'Show', producto, class:'button radius' %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto), class:'button radius success'  %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' }, class:'button radius alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path, class:'button round success' %>
